.mobile {
  padding-top: 60px;

  &__inner {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    border-bottom: 0.71px solid #cbcbcb;
    padding-bottom: 80px;
  }
  &__content {
    max-width: 400px;
  }

  &__title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 42.21px;
    color: #18181b;
    margin-bottom: 45px;
  }
  &__item {
    font-family: Inter;
    font-weight: 400;
    font-size: 14.46px;
    color: #676767;
    margin-bottom: 19px;
    line-height: 2;

    &::before {
      content: "";
      display: inline-block;
      margin-bottom: 3px;
      width: 7px;
      height: 7px;
      background-color: grey;
      border-radius: 50%;
    }
  }

  &__link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 12.84px;
    text-align: center;
    vertical-align: middle;
    padding: 14px 18px;
    background-color: #6c5fbc;
    color: white;
    display: inline-flex;
    align-items: center;

    gap: 10px;
    border-radius: 10px;
    text-decoration: none;
  }

  &__line {
    position: relative;
    top: 60px;
  }
}

@media (max-width: 375px) {
  .mobile {
    &__inner {
      flex-direction: column-reverse;
      gap: 62px;
    }
    &__title {
      text-align: center;
      font-size: 30px;
    }
    &__item {
      font-size: 11px;

      &::before {
        width: 4px;
        height: 4px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__link {
      align-self: center;
      margin-top: 30px;
    }
    &__line {
      position: relative;
      top: 17px;
      transform: rotate(103deg);
    }
    & img{
      max-width: 170px;
    }
  }
}
