.dishes {
  padding-top: 70px;

  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    color: #323142;
    text-align: center;
    margin-bottom: 70px;
  }
  &__content {
    padding: 0 16px;
  }
  &__card {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 4.87px 58.44px 29.22px 0px #e5e5e5b2;
    position: relative;
    padding: 18px 0;
    & img {
      display: block;
      margin: 0 auto;
    }
  }

  &__heard {
    position: absolute;
    top: 20px;
    right: 15px;
  }

  &__price {
    margin-top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--number {
      font-family: Manrope;
      font-weight: 700;
      font-size: 18.44px;
      color: #323142;
    }

    &--small {
      color: #8e97a6;
      font-family: Manrope;
      font-weight: 700;
      font-size: 13.37px;
    }
    &--add {
      padding: 8px 9px;
      background-color: #323142;
      border-radius: 6px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 21px;
  }

  &__inner {
    padding-bottom: 70px;
  }
}

@media (max-width: 375px) {
  .dishes {
    padding-top: 85px;

    &__title {
      max-width: 127px;
      margin: 0 auto;
      margin-bottom: 60px;
      font-size: 30px;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__card {
      padding: 18px 0;
      & img {
        display: block;
        margin: 0 auto;
        max-width: 120px;
      }
    }
    .restaurants__card--title {
      font-size: 16px;
    }

    &__card:last-child {
      display: none;
    }
  }
}
