.features {
  background-color: #5c4eae;
  padding: 40px 0;

  &__list {
    text-align: center;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  &__item {
    position: relative;
    padding: 0 40px;
    max-width: 180px;

    &::after {
      content: "";
      background-color: #c5c5c5;
      width: 0.71px;
      height: 80px;
      position: absolute;
      top: -12px;
      right: 0;
      opacity: 0.15;
    }
    &--numb {
      font-weight: 700;
      font-size: 30.72px;
      color: #ffffff;
      padding-bottom: 8px;
      font-family: sans-serif;
    }
    &--text {
      color: #c5bfed;
      font-family: Inter;
      font-weight: 500;
      font-size: 13.24px;
      text-align: center;
    }
  }
  .features__list li:last-child::after {
    content: "";
    display: none;
  }
}

@media (max-width: 375px) {
  .features {
    &__list {
      flex-direction: column;
    }
    &__item {
      margin: 60px 0;
      

      &::after {
        content: "";
        
        height: 0.71px;
       width: 246px;
        top: 140px;
        right: 7px;
        opacity: 0.15;
      }
    }
  }
}
