body {
  background-color: #f9f9f9;
}
.header {
  display: flex;
  padding-top: 34px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.71px solid #cbcbcb;
  padding-bottom: 20px;

  &__right{
    &--image{
      display: none;
    }
  }

  &__left {
    display: flex;
  }

  &__left--logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 6px;
  }

  &__logo--text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
    color: #6c5fbc;
    margin-right: 70px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 53px;
    list-style: none;

    &--item {
      font-family: Inter;
      font-weight: 500;
      font-size: 12.68px;
    }

    &--link {
      color: #606060;
      text-decoration: none;
    }
  }

  &__link {
    padding: 12px 19px;
    font-family: Inter;
    font-weight: 700;
    font-size: 12.68px;
    color: #606060;
    border: none;
    text-decoration: none;
  }

  &__link--primary {
    color: #f9f9f9;
    background-color: #6c5fbc;
    border-radius: 12.68px;
    cursor: pointer;
    text-decoration: none;
  }
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;

  &__text {
    font-family: Poppins;
    font-weight: 600;
    color: #201f1f33;
    font-size: 10.67px;
    margin-bottom: 10px;

    &::before {
      content: "";
      width: 30px;
      height: 1px;
      display: inline-block;
      background-color: #201f1f33;
      margin-left: 14px;
      border-radius: 2px;
      margin-bottom: 4px;
      margin-right: 14px;
    }
  }

  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 53.33px;
    color: #201f1f;
    margin-bottom: 11px;
    &--primary {
      color: #5c4eae;
    }
  }

  &__desc {
    font-family: Inter;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19.91px;
    letter-spacing: 0px;
    text-align: justify;
    margin-bottom: 37px;
    color: #676767;
  }

  &__link {
    color: #6c5fbc;
    border: 1.07px solid #6c5fbc;
    padding: 12px 19px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 11.57px;
    border-radius: 12px;
    text-decoration: none;
    margin-left: 12px;
  }

  &__review {
    display: flex;
    align-items: center;
    margin-top: 30px;

    &--logo {
      margin-right: 14px;
    }
  }

  &__number {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 19.38px;
    color: #334155;
    opacity: 0.7;
    margin-left: 7px;
  }

  &__image {
    & img {
      max-width: 500px;
    }
  }

  &__content {
    max-width: 433px;
  }
}
@media (max-width: 375px) {
  .header {
    &__list {
      display: none;
    }
    &__right {
      display: none;

      &--image{
        display: block;
    }
  }
}
     

  .info {
    flex-direction: column;
    &__content {
      text-align: center;
    }
    &__text {
      color: #201f1f;
      &::before {
        content: "";
        background-color: #201f1f;
      }
    }
    &__title {
      font-size: 45px;
    }
    &__desc {
      font-size: 11;
      text-align: center;

    }
    &__image {
      & img {
        max-width: 300px;
        margin-top: 50px;
      }
    }

  }
}
