.restaurants {
  padding-top: 70px;

  &__title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
  }
  &__inner {
    border-bottom: 0.71px solid #cbcbcb;
    padding-bottom: 80px;
    padding-top: 50px;
  }

  &__card {
    box-shadow: 4.23px 50.74px 25.37px 0px #e5e5e5b2;
    border-radius: 21px;

    &--content {
      padding: 7px 20px 12px;
    }

    &--badge {
      font-family: Poppins;
      font-weight: 400;
      font-size: 9.08px;
      padding: 2px 5px;
      background-color: #f7edd0;
      border-radius: 4px;
      color: #daa31a;
      display: inline-block;
    }

    &--badge--red{
      color: #FB471D;
      background-color: #F7C5BA;
    }

    &--badge--green{
      color: #309D5B;
      background-color: #F2FDF6;
    }

    &--title {
      font-family: Poppins;
      font-weight: 600;
      font-size: 18.34px;
      color: #323142;
      margin: 5px 0;
    }

    &--rating {
      display: flex;
      align-items: center;
    }

    &--min {
      font-family: Manrope;
      font-weight: 400;
      font-size: 13.75px;
      color: #8e97a6;
      margin-right: 7px;

      &::after {
        content: "";
        width: 5px;
        height: 5px;
        background-color: gray;
        display: inline-block;
        margin-bottom: 2px;
        border-radius: 50%;
        margin-left: 5px;
      }
    }

    &--number {
      font-family: Manrope;
      font-weight: 400;
      font-size: 13.75px;
      color: #8e97a6;
      margin-left: 7px;
    }

    &--add {
      margin-left: auto;
      background-color: #dbd9ee;
      padding: 7px 9px;
      border-radius: 50%;
    }
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
  }

  &__link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14.22px;
    text-decoration: none;
    color: #acadb9;
    display: block;
    text-align: end;
    margin-top: 46px;
    & svg{
        margin-left: 8px
    }
  }
}
@media (max-width: 375px) {
  .restaurants {
  &__inner {
    margin-top: 80px;
  }
  &__wrapper {
   flex-direction: column;
   gap: 40px;
  }
  & img {
    width: 100%;
  }

}
}