@use './helpers/reset.scss';
@use './sections/first.scss';
@use './sections/features.scss';
@use './sections/app.scss';
@use './sections/restaurants.scss';
@use './sections/dishes.scss';
@use './sections/purches.scss';
@use './sections/customer.scss';
@use './sections/subscribe.scss';
@use './sections/footer.scss';

.container{
    max-width: 1200px;
    padding-inline: 15px;
    box-sizing: border-box;
    margin: 0 auto;

    @media (max-width:375px){
        max-width: 330px;
    }
}